<p>
  <strong>First Name:</strong>
  <%= @freelancespec.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @freelancespec.last_name %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @freelancespec.skill %>
</p>

<p>
  <strong>Portfolio
