<div>
    <h1>List of freelancers</h1>
  <% @users.each do |user| %>
    <% if user.role == "Freelancer" %>
      <h1>Freelancers</h1>
      <p>Email: <%= user.email%>
      Role: <%= user.role%></p>
    <%end%>
  <% end %>
</div>
