.freelancebody {
  text-align: center;
}

.freelancecard {
  border: 1px solid;
  display: flex;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  width: 70vw;
  background-color: white;
}
