// Specific CSS for your home-page
.homepage {
  height: 100vh;
  width: 99vw;
  background-image: url("/home/bakealoaf/code/BakeALoaf/codeswarm/app/assets/images/DiscreteRelievedAnaconda.mp4");
}
.homepage img {
  width: 100%;
  height: 100%;
}
