// Specific CSS for your home-page
.homepage{
  height: calc(100vh - 65px);
  width: 100vw;
  background-color: #ffffff;
  font-family: monospace;
}

.titlehome {
  display: inline-block;
  width: 60vw;
  height: calc(100vh - 65px);
  text-align: left;
  padding-top: 6%;
  padding-left: 4%;
}

.homeimage img {
  padding-right: 2%;
  height: 60%;
  max-width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

p {
  margin: 0;
}

.para {
  width: 85%;
}

h1 {
  font-family: monospace;
}

.homeimage {
  float: right;
  width: 40vw;
  height: calc(100vh - 65px);
}

.learn{
  display: inline-block;
  margin-left: 20%;
  margin-top: 4%;
  font-size: 16px;
}

.join {
  display: inline-block;
  margin-left: 5%;
  margin-top: 4%;
  font-size: 16px;
}

a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
}

.learn:hover {
  -webkit-transform: scale(1.2);
}

.join:hover {
  -webkit-transform: scale(1.2);
}
