<div>
  <% if current_user.admin == true %>
    <h1>User Admin Status</h1>
    <%= form_tag(dashboard_path, method: :patch) do %>
      <% @users.each do |user| %>
        <div>
          <%= check_box_tag "user[#{user.id}]", user.id, user.admin %>
          <%= user.email %>
        </div>
      <% end %>
      <%= submit_tag "Update Admin Status" %>
    <% end %>
  <% else %>
    <h1>Dashboard</h1>
  <% end %>
</div>
