<div>
  <% if current_user.admin == true %>
    <h1>Admin Dashaboard</h1>
      <% @users.each do |user| %>
        <p>Email: <%= user.email %> - 
        Admin: <%= user.admin %></p>
    <% end %>
  <% else %>
    <h1>Dashboard</h1>
  <% end %>
</div>
